{% extends "layout.html" %}
{% block content %}
    <html>
	<head>
		<title>iStock</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/main.css" />

	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">About i-Stock</a></li>
							<li><a href="#two">Get More Modules</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>i-Stock</h1>
							<p>i-Stock offers different modules customized to the needs of retailers, distributors and manufacturers in a variety of industries.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
                                <li><a href="Master/frmCreateCompany.aspx" class="button scrolly">Log In</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Stock and Billing</h2>
									<p>Easy to Use and Accurate for Billing, Inventory and Accounting Features. Bar code, POS, Configurable and Customization to Support More Than 60 Trades.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li> <!--generic.html -->
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Stock Management</h2>
									<p>Sales Management, Purchase Management, Manufacturing & Job Work, Repairing, Banking, Payment/Receipt and Service Modules.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li><!--generic.html -->
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Accounts</h2>
									<p>Unit Conversion, Bill Adjustment, GST reports, Accounts and Stock Transfer Supported Feature.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li><!--generic.html -->
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Modules</h2>
							<p>Modules offered by e-Inventory include order management, purchase management, production planning and costing and inventory management. It also offers distribution module for multiple industries, including pharmacy.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Sale Invoice</h3>
									<p>Sales Invoice is a written document used by a seller to inform the detail of the transaction to their customers.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Sale Order</h3>
									<p>A sales order is a document generated by the seller specifying the details about the product or services ordered by the customer.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Purchase Invoice</h3>
									<p>This invoice is created after the purchase order which is issued by the purchaser to the seller.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Purchase Order</h3>
									<p>The document indicates the details on the items that are to be purchased, such as the types of goods, quantity, and price. </p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Stock Issue</h3>
									<p>An inventory issue involves removing items from a branch/plant or location, adjusting the inventory balance, and recording the transaction in the general ledger.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Performa Invoice</h3>
									<p>A proforma invoice is a preliminary bill of sale that is sent to the client before the work is completed. It’s a commitment to goods or services that have yet to be delivered.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>For any commercial enquiry, Feel Free to Contact with us.</p>
							<div class="split style1">
								<section>
									<form method="post" action="index.html">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
                                            <!--<a href="#" class="image"><img src="images/ERP.jpg" alt="" width="80%" /></a>-->
										</div>
										<ul class="actions">
											<li><a href="Master/frmCreateCompany.aspx" class="button">Log In</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>B-9, Saheed Nagar<br />
                                            Infront of HDFC Bank<br />
											Bhubaneswar, Odisha<br />
											Pin-751007</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">info@gtcstech.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(91) 9674120501</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; GTCS.</li><li>Design and Developed by: <a href="http://gtcstech.com">Global Technology and Communication Solution Ltd.</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
{% endblock content %}
