{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-4">IStock Login</a>
            </div>
              <br>
              <br>
            <h2><a class="article-title" href="#">Login as New Company</a></h2>
              <br>
              <br>
            <p class="article-content">For New Users </p>
          </div>
        </article>
        <br>
        <br>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-4">IStock Login</a>
            </div>
              <br>
              <br>
            <h2><a class="article-title" href="#">Login as Existing Company</a></h2>
              <br>
              <br>
            <p class="article-content">For Existing Users</p>
          </div>
        </article>
{% endblock content %}
